.data{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(253, 249, 179);
}
.pokemon_image{
    width: 80%;
    height: 80%;
}